@import "./../../../styles/index.scss";

.app {
  @include flex-direction-column;
  background-image: url("./../../../styles/images/bg-image.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: $full-height;

  main {
    @include flex-justify-content-center;
    flex-grow: 1;
  }
}
