@import "./../../styles/index.scss";

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-bottom: 2rem;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    width: 40rem;

    label {
      padding: padding(0.4rem, 0.4rem, 0.4rem, 0.4rem);
      font-size: 0.9rem;
      color: $label-color;
    }

    input,
    textarea {
      width: 99%;
      @include custom-input-field;
    }

    button {
      margin-top: 1rem;
      margin-left: 0.4rem;
      @include form-submit-button;
    }
  }
}

@include tablet {
  .contact-container {
    .contact-form {
      width: 80vw;
    }
  }
}

@include mobile {
  .contact-container {
    .contact-form {
      width: 90vw;
    }
  }
}
