@import "./../../../styles/index.scss";

.card {
  @include card-layout;

  .close {
    float: right;
    margin-right: 0.5rem;
    width: $cross-size-width;
    color: $primary-color;
    transition: transform 0.2s ease;

    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }
}

@include tablet {
  .card {
    padding: (5vh, 5vw);
    margin: 1.5em;
  }
}

@include mobile {
  .card {
    padding: padding(4vh, 5vw);
    margin: 0.5em;
  }
}
